# Creating Dummy Data Used Car Sales Website
- By : Mohammad Isyroful Aqli | 20 November 2024
- Project SQL & Relational Database Sekolah Data Pacmann

In [ ]:
# Instalasi library faker dan tabulate
!pip install Faker
!pip install tabulate

In [1]:
# import library
import random
from datetime import datetime, timedelta
from faker import Faker
import csv
import pandas as pd
from tabulate import tabulate

In [2]:
# inisialisasi faker untuk menggunakan lokal indonesia
fake = Faker('id_ID')

### Dummy data yang dibuat adalah tabel-tabel sebagai berikut:
- user
- car_product (melengkapi data kolom baru yang ditambahkan)
- advertisement
- bid

In [3]:
def show_data(table):
    """
    Fungsi untuk menampilkan data
    arg:
        - table (dict atau list): data dictionary atau list of dictionaries yang ingin ditampilkan
    return:
        None
    """
    try:
        if isinstance(table, dict):  # Jika dictionary of lists
            tab = tabulate(tabular_data=zip(*table.values()),
                           headers=table.keys(),
                           tablefmt="psql",
                           numalign="center")
        elif isinstance(table, list) and isinstance(table[0], dict):  # Jika list of dictionaries
            # Gunakan headers='keys' untuk list of dictionaries
            tab = tabulate(tabular_data=table,
                           headers='keys',
                           tablefmt="psql",
                           numalign="center")
        else:
            raise ValueError("Format data tidak valid. Harus berupa dictionary of lists atau list of dictionaries.")
        
        print(tab)
    except Exception as e:
        print(f"Terjadi kesalahan: {e}")
        print("Pastikan data Anda dalam format yang benar.")

In [4]:
def csv_to_dict(filename):
    """
    Fungsi untuk ekstrak file csv menjadi list of dictionary

    arg:
        - filename (str) : nama file csv yang akan dibuka
    return:
        - data  (list) :  list of dictionary
    """

    # buka file csv
    with open(f'{filename}', mode='r', encoding='utf-8-sig') as file:
        csv_reader = csv.DictReader(file)

        # simpan dalam bentuk list of dictionary
        data = {}
        for row in csv_reader:
            for key, value in row.items():
                # setdefault() untuk menambahkan key ke result_dict
                # value dari key diisi dengan empty list dulu
                # empty list diisi dengan method append per baris data
                data.setdefault(key, []).append(value)

    return data

In [5]:
# Ekstrak file city.csv menjadi list of dictionary
city_table = csv_to_dict('opsional project sql/city.csv')

In [6]:
# lihat data city
show_data(city_table)

+---------------+----------------------+------------+-------------+
|  location_id  | city_name            |  latitude  |  longitude  |
|---------------+----------------------+------------+-------------|
|     3171      | Kota Jakarta Pusat   |  -6.18649  |   106.834   |
|     3172      | Kota Jakarta Utara   |  -6.12143  |   106.774   |
|     3173      | Kota Jakarta Barat   |  -6.1352   |   106.813   |
|     3174      | Kota Jakarta Selatan |  -6.30064  |   106.814   |
|     3175      | Kota Jakarta Timur   |  -6.26445  |   106.896   |
|     3573      | Kota Malang          |  -7.98189  |   112.627   |
|     3578      | Kota Surabaya        |  -7.28917  |   112.734   |
|     3471      | Kota Yogyakarta      |  -7.79722  |   110.369   |
|     3273      | Kota Bandung         |  -6.91474  |   107.61    |
|     1371      | Kota Padang          |   -0.95    |   100.353   |
|     1375      | Kota Bukittinggi     | -0.305556  |   100.369   |
|     6471      | Kota Balikpapan      |  -1.26354  |   116.828   |
|     6472      | Kota Samarinda       | -0.502183  |   117.154   |
|     7371      | Kota Makassar        |  -5.13333  |   119.417   |
|     5171      | Kota Denpasar        |  -8.65629  |   115.222   |
+---------------+----------------------+------------+-------------+

In [7]:
print(type(city_table))

<class 'dict'>

In [8]:
def generate_user_table(n_data, city_table, is_print):
    """
    Fungsi untuk membuat dummy data user_table
    header:
        - user_id
        - name
        - email
        - phone_number
        - location_id
    arg:
        - n_data (int)  : Jumlah data user yang ingin dibuat
        - city_table (list)  : list of dictionary data city
        - is_print  (bool) : Jika True akan menampilkan hasil data

    return:
        - table  (list) :
    """
    # Buat table
    table = {}
    table["user_id"] = [i+1 for i in range(n_data)]
    table["name"] = [fake.name() for _ in range(n_data)]
    table["email"] = [fake.email() for _ in range(n_data)]
    table["phone_number"] = [fake.phone_number() for _ in range(n_data)]
    table["location_id"] = [random.choice(city_table['location_id']) for _ in range(n_data)]
    
    # Print table
    if is_print:
        show_data(table)

    return table

In [9]:
user_table = generate_user_table(n_data = 100,
                        city_table = city_table,
                        is_print = True)

+-----------+-------------------------------+----------------------------------+---------------------+---------------+
|  user_id  | name                          | email                            | phone_number        |  location_id  |
|-----------+-------------------------------+----------------------------------+---------------------+---------------|
|     1     | Bakiadi Sihotang              | wirdapadmasari@example.net       | 089 239 3913        |     5171      |
|     2     | Bajragin Wibisono             | parmanuyainah@example.org        | +62 (039) 493 5243  |     3172      |
|     3     | KH. Kuncara Yulianti          | rirawan@example.net              | (085) 698-1460      |     1375      |
|     4     | Widya Winarsih                | qyolanda@example.org             | +62 (04) 717 5806   |     1371      |
|     5     | Ajiman Maulana                | laksitagaman@example.net         | +62 (22) 105 8229   |     3172      |
|     6     | Ir. Dalimin Latupono          | yoktaviani@example.org           | +62 (355) 115 4274  |     3471      |
|     7     | Joko Mandasari                | yolandabakda@example.net         | (0149) 339-8803     |     5171      |
|     8     | Enteng Purnawati              | warsita93@example.net            | 084 256 4452        |     5171      |
|     9     | Vera Simbolon                 | ssimbolon@example.org            | (083) 007 8206      |     3175      |
|    10     | Gasti Hutasoit                | qsihombing@example.org           | +62-22-203-8308     |     1375      |
|    11     | Yani Damanik                  | manullanggaran@example.net       | +62-085-433-6621    |     6472      |
|    12     | Pangestu Nurdiyanti           | cahyoyuliarti@example.net        | (0418) 423 7254     |     7371      |
|    13     | Zizi Rahmawati                | upertiwi@example.com             | +62-324-464-0450    |     3171      |
|    14     | Rina Lailasari, M.M.          | asirwandanatsir@example.com      | (014) 360-9519      |     6472      |
|    15     | Gilda Wahyuni                 | teguh35@example.net              | +62-273-671-0561    |     3173      |
|    16     | Langgeng Sihotang             | mansurkairav@example.net         | (0163) 448 3910     |     3273      |
|    17     | Titin Wasita                  | murtisusanti@example.org         | (008) 520-9063      |     3173      |
|    18     | Puti Zelda Yulianti           | orahimah@example.org             | +62 (0788) 767-7886 |     3171      |
|    19     | Johan Maheswara               | stamba@example.net               | +62 (991) 105 6916  |     3175      |
|    20     | Hendra Habibi                 | namagakenzie@example.com         | +62-607-355-6809    |     6472      |
|    21     | R.M. Saka Gunawan, S.Sos      | pradanaharjaya@example.org       | +62-92-116-0104     |     3175      |
|    22     | Ir. Cici Wahyudin             | tampubolonasmianto@example.net   | +62 (824) 686 8353  |     3175      |
|    23     | Lala Pertiwi, S.Gz            | awaluyo@example.com              | 0854373354          |     7371      |
|    24     | Jayeng Wastuti                | umarwahyuni@example.com          | (099) 327 9723      |     3171      |
|    25     | Naradi Napitupulu             | laksmiwatimaryanto@example.org   | +62 (31) 626-4322   |     3573      |
|    26     | Ida Waluyo                    | qfirgantoro@example.net          | 087 416 5962        |     3578      |
|    27     | Lala Puspita                  | hsimanjuntak@example.org         | +62 (046) 792 1696  |     6472      |
|    28     | Setya Dongoran                | imansur@example.org              | +62-345-420-2098    |     3175      |
|    29     | Dr. Sakura Pradipta           | jgunarto@example.org             | +62 (095) 172 0694  |     3175      |
|    30     | Vanesa Riyanti, S.Pt          | mayasarititin@example.com        | +62-082-198-6881    |     1371      |
|    31     | Sadina Jailani                | malika27@example.com             | +62 (0976) 520 9298 |     3578      |
|    32     | Prabowo Setiawan              | latuponobudi@example.org         | (056) 633 5927      |     3175      |
|    33     | Cemani Rajasa                 | kayunnamaga@example.org          | +62 (057) 200-3808  |     6472      |
|    34     | Tgk. Ika Mangunsong, S.H.     | vrahimah@example.com             | +62-02-993-9793     |     1371      |
|    35     | Hamzah Hutagalung             | salimah09@example.net            | (0163) 942 5297     |     1371      |
|    36     | Nrima Pratiwi                 | bakda92@example.com              | +62-084-822-9097    |     6472      |
|    37     | Najwa Nasyidah                | jagaraga19@example.com           | (049) 306 2903      |     3273      |
|    38     | Nadia Rahayu, S.IP            | sihombingdalimin@example.org     | +62 (0600) 277-3042 |     3173      |
|    39     | Oskar Maulana, M.Ak           | prabowofarhunnisa@example.net    | +62-02-665-7444     |     5171      |
|    40     | Lukman Mulyani                | bakijan10@example.org            | +62 (00) 929 1785   |     5171      |
|    41     | Puti Saputra                  | tusada@example.com               | (049) 299 3389      |     6471      |
|    42     | Ophelia Prasetyo              | qsiregar@example.org             | +62 (083) 197-4885  |     5171      |
|    43     | Puji Santoso                  | jayenghariyah@example.com        | (055) 154 1109      |     3171      |
|    44     | R.M. Prabawa Prasasta, M.Farm | halimahteddy@example.com         | (099) 925-9670      |     5171      |
|    45     | Yance Thamrin                 | gantarsetiawan@example.org       | +62 (086) 634-1984  |     3573      |
|    46     | Irwan Nasyidah                | latif02@example.net              | +62 (0863) 913-0582 |     3174      |
|    47     | Diah Fujiati                  | ida87@example.org                | (086) 081 7658      |     3171      |
|    48     | Drs. Calista Aryani           | kayla95@example.org              | +62 (075) 225-3568  |     5171      |
|    49     | Dian Rahimah                  | tarihoranakarsana@example.net    | 083 139 8837        |     3578      |
|    50     | Harimurti Hutagalung          | esantoso@example.com             | +62 (981) 244 1777  |     1375      |
|    51     | Raina Natsir, S.E.            | pudjiastutitirtayasa@example.net | +62 (051) 048 2817  |     1371      |
|    52     | Ana Halimah                   | lnarpati@example.net             | 087 612 1836        |     6471      |
|    53     | Dian Palastri                 | saefullahkarna@example.org       | +62-0224-531-1811   |     3471      |
|    54     | dr. Dewi Napitupulu, S.Sos    | baktiononajmudin@example.com     | +62-483-969-8530    |     7371      |
|    55     | Alika Iswahyudi               | emin14@example.org               | +62 (0142) 836-1593 |     1375      |
|    56     | Wage Yuliarti                 | yriyanti@example.net             | +62 (062) 817-3203  |     1371      |
|    57     | Raina Nasyiah                 | wardi06@example.net              | +62 (46) 990 7449   |     6472      |
|    58     | Unjani Nasyiah                | novi36@example.org               | +62 (053) 699-7387  |     3171      |
|    59     | R.A. Cinta Prakasa            | adiarja56@example.com            | (0507) 439 7909     |     3175      |
|    60     | Dr. Cawisadi Kusmawati, S.H.  | abyasa52@example.com             | +62 (034) 674 6894  |     3171      |
|    61     | Cakrajiya Hidayat             | jaswadi08@example.com            | +62 (0265) 471 2384 |     3175      |
|    62     | KH. Ajimat Andriani, S.E.     | gmaryadi@example.com             | +62 (80) 183-1683   |     3273      |
|    63     | Puji Gunarto                  | dadriansyah@example.net          | +62 (085) 105-3534  |     3175      |
|    64     | Cakrawangsa Widodo, S.H.      | nataliamanullang@example.com     | +62 (091) 607-0777  |     3174      |
|    65     | Gara Sihombing                | kunthara76@example.org           | +62 (0600) 972 0720 |     1375      |
|    66     | R. Hari Damanik, M.Pd         | paris84@example.net              | +62-00-562-5430     |     3171      |
|    67     | Ulva Uyainah                  | baktianto78@example.org          | (0600) 706 7988     |     3471      |
|    68     | Tgk. Jessica Astuti, S.I.Kom  | sabrinakurniawan@example.com     | +62 (970) 270-2501  |     7371      |
|    69     | R. Yusuf Handayani, S.Farm    | ardiantobagya@example.net        | 087 994 2149        |     3174      |
|    70     | Eko Hastuti                   | luwar34@example.com              | (0754) 902 1202     |     3573      |
|    71     | Ina Tarihoran                 | wnababan@example.org             | +62-0277-250-8749   |     3172      |
|    72     | Hj. Calista Pratama, S.Ked    | balijanrahmawati@example.org     | (011) 255 5092      |     3471      |
|    73     | Sutan Eka Suryatmi            | prakasamursita@example.net       | +62 (08) 076 3014   |     6472      |
|    74     | Hani Anggraini                | suartinihasim@example.org        | +62 (32) 454 5069   |     3174      |
|    75     | Ir. Devi Nasyiah              | lurhurnababan@example.org        | +62-27-945-0522     |     3573      |
|    76     | Purwa Lailasari               | michelle20@example.com           | (0117) 331-3293     |     3173      |
|    77     | Garda Irawan                  | bahuwiryasihombing@example.org   | +62 (0497) 077 1049 |     6472      |
|    78     | Usyi Marbun                   | utamaanggriawan@example.com      | +62 (07) 436 2724   |     3173      |
|    79     | Arsipatra Simbolon            | mansurmursinin@example.com       | (0225) 572-1369     |     7371      |
|    80     | Wani Zulaika, S.Gz            | iandriani@example.org            | +62 (88) 627-0719   |     3173      |
|    81     | Yance Zulkarnain              | kurniawanajiman@example.org      | +62 (464) 950 3469  |     3175      |
|    82     | Michelle Novitasari           | nurainiazalea@example.org        | +62-30-812-0606     |     3173      |
|    83     | Harimurti Oktaviani           | saptonocakrawala@example.net     | (0782) 272-5755     |     6472      |
|    84     | Cindy Permadi                 | bakiman84@example.org            | +62 (26) 511-9201   |     7371      |
|    85     | Amalia Zulaika                | suryatmimaida@example.org        | +62 (29) 032 9612   |     1371      |
|    86     | Ir. Ibrahim Napitupulu        | xjanuar@example.org              | (0305) 528 8292     |     3471      |
|    87     | KH. Jono Puspasari, S.Farm    | ida55@example.net                | (048) 804-3572      |     1375      |
|    88     | Violet Nashiruddin, S.Kom     | ulya92@example.net               | +62-061-414-1746    |     6471      |
|    89     | Eli Simbolon                  | edi73@example.com                | +62 (071) 291 6197  |     3174      |
|    90     | Adiarja Situmorang            | latikadongoran@example.net       | 0840198341          |     3471      |
|    91     | R. Mursita Hastuti            | pia37@example.net                | +62-423-471-0834    |     3174      |
|    92     | Tgk. Salsabila Rajasa         | hsihombing@example.org           | +62 (02) 508 9218   |     6471      |
|    93     | Dasa Prakasa                  | nhardiansyah@example.org         | (0163) 856 6628     |     6471      |
|    94     | Ajimat Sihombing              | cici65@example.com               | +62-894-684-4427    |     3172      |
|    95     | Heru Padmasari                | ibranihartati@example.net        | +62 (0894) 210-5289 |     3173      |
|    96     | Maya Wibisono                 | corneliabudiyanto@example.com    | 083 667 2527        |     3173      |
|    97     | Ajimin Haryanto               | adinata59@example.org            | +62-253-079-3945    |     6472      |
|    98     | Ir. Zamira Susanti            | mangunsongamelia@example.net     | +62-065-110-5830    |     1371      |
|    99     | Martaka Sudiati               | cici20@example.org               | (028) 738-3621      |     3175      |
|    100    | Cut Lili Puspita, M.TI.       | sudiatishania@example.org        | +62-0482-790-6843   |     6471      |
+-----------+-------------------------------+----------------------------------+---------------------+---------------+

In [10]:
print(type(user_table))

<class 'dict'>

In [11]:
# Ekstrak file car_product.csv menjadi list of dictionary
product_table = csv_to_dict('opsional project sql/car_product.csv')

In [12]:
# lihat data car_product
show_data(product_table)

+--------------+----------+-----------------+-------------+--------+-----------+
|  product_id  | brand    | model           | body_type   |  year  |   price   |
|--------------+----------+-----------------+-------------+--------+-----------|
|      1       | Toyota   | Toyota Yaris    | Hatchback   |  2016  | 175000000 |
|      2       | Toyota   | Toyota Yaris    | Hatchback   |  2018  | 215000000 |
|      3       | Toyota   | Toyota Yaris    | Hatchback   |  2014  | 162000000 |
|      4       | Toyota   | Toyota Yaris    | Hatchback   |  2020  | 220000000 |
|      5       | Toyota   | Toyota Yaris    | Hatchback   |  2012  | 124000000 |
|      6       | Toyota   | Toyota Yaris    | Hatchback   |  2019  | 114000000 |
|      7       | Toyota   | Toyota Agya     | Hatchback   |  2014  | 97000000  |
|      8       | Toyota   | Toyota Agya     | Hatchback   |  2016  | 110000000 |
|      9       | Toyota   | Toyota Agya     | Hatchback   |  2022  | 155500000 |
|      10      | Toyota   | Toyota Agya     | Hatchback   |  2017  | 115500000 |
|      11      | Toyota   | Toyota Calya    | Wagon       |  2019  | 130000000 |
|      12      | Toyota   | Toyota Calya    | Wagon       |  2020  | 135000000 |
|      13      | Toyota   | Toyota Calya    | Wagon       |  2015  | 115500000 |
|      14      | Toyota   | Toyota Calya    | Wagon       |  2016  | 104000000 |
|      15      | Daihatsu | Daihatsu Ayla   | Hatchback   |  2013  | 83000000  |
|      16      | Daihatsu | Daihatsu Ayla   | Hatchback   |  2017  | 88000000  |
|      17      | Daihatsu | Daihatsu Ayla   | Hatchback   |  2015  | 96000000  |
|      18      | Daihatsu | Daihatsu Ayla   | Hatchback   |  2019  | 115000000 |
|      19      | Daihatsu | Daihatsu Ayla   | Hatchback   |  2014  | 90000000  |
|      20      | Daihatsu | Daihatsu Terios | SUV         |  2018  | 201000000 |
|      21      | Daihatsu | Daihatsu Xenia  | MPV         |  2019  | 170000000 |
|      22      | Daihatsu | Daihatsu Xenia  | MPV         |  2022  | 220500000 |
|      23      | Daihatsu | Daihatsu Xenia  | MPV         |  2018  | 159000000 |
|      24      | Honda    | Honda Jazz      | Hatchback   |  2018  | 236000000 |
|      25      | Honda    | Honda Jazz      | Hatchback   |  2019  | 250000000 |
|      26      | Honda    | Honda Jazz      | Hatchback   |  2015  | 192000000 |
|      27      | Honda    | Honda Jazz      | Hatchback   |  2013  | 178000000 |
|      28      | Honda    | Honda CR-V      | SUV         |  2017  | 345000000 |
|      29      | Honda    | Honda CR-V      | SUV         |  2009  | 116000000 |
|      30      | Honda    | Honda CR-V      | SUV         |  2012  | 398500000 |
|      31      | Honda    | Honda Civic     | Hatchback   |  2018  | 350000000 |
|      32      | Honda    | Honda Civic     | Sedan       |  2013  | 186000000 |
|      33      | Honda    | Honda Civic     | Sedan       |  2015  | 235000000 |
|      34      | Honda    | Honda Civic     | Hatchback   |  2019  | 397500000 |
|      35      | Suzuki   | Suzuki Ertiga   | MPV         |  2015  | 125000000 |
|      36      | Suzuki   | Suzuki Ertiga   | MPV         |  2016  | 168000000 |
|      37      | Suzuki   | Suzuki Ertiga   | MPV         |  2018  | 167000000 |
+--------------+----------+-----------------+-------------+--------+-----------+

In [13]:
print(type(product_table))

<class 'dict'>

In [14]:
def generate_product_table(n_data, product_table, user_table, city_table, is_print):
    """
    Fungsi untuk membuat dummy data new product_table
    header:
        - product_id
        - user_id
        - brand
        - model
        - body_type
        - year
        - price
        - transmission
        - colour
        - mileage
        - location_id
        - bid_allowed
    arg:
        - n_data (int)  : Jumlah data user yang ingin dibuat
        - product_table : list of dictionary data product 
        - user_table : list of dictionary data user
        - city_table (list)  : list of dictionary data city
        - is_print  (bool) : Jika True akan menampilkan hasil data

    return:
        - table  (list) :
    """
     # Ekstrak data dari product_table terlebih dahulu
    product_ids = product_table['product_id']
    brands = product_table['brand']
    models = product_table['model']
    body_types = product_table['body_type']
    years = product_table['year']
    prices = product_table['price']
    
    # Ekstrak data dari user_table
    user_ids = user_table['user_id']
    
    # Ekstrak data dari city_table
    location_ids = city_table['location_id']
    
    # Memperbarui isi tabel
    table = {}
    table["product_id"] = [product_ids[i % len(product_ids)] for i in range(n_data)]
    table["user_id"] = [random.choice(user_ids) for _ in range(n_data)]
    table["brand"] = [brands[i % len(brands)] for i in range(n_data)]
    table["model"] = [models[i % len(models)] for i in range(n_data)]
    table["body_type"] = [body_types[i % len(body_types)] for i in range(n_data)]
    table["year"] = [int(years[i % len(years)]) for i in range(n_data)]
    table["price"] = [int(prices[i % len(prices)]) for i in range(n_data)]
    table["transmission"] = [random.choice(["Manual", "Automatic"]) for _ in range(n_data)]
    table["colour"] = [fake.color_name() for _ in range(n_data)]
    table["mileage"] = [random.randint(10000, 200000) for _ in range(n_data)]
    table["bid_allowed"] = [random.choice([True, False]) for _ in range(n_data)]
    table["location_id"] = [random.choice(location_ids) for _ in range(n_data)]

    # Menampilkan data
    if is_print:
        show_data(table)

    return table

In [15]:
new_product_table = generate_product_table(
    n_data=37,  # Sesuaikan jumlah data
    product_table=product_table,  # Data dictionary of lists
    user_table=user_table,
    city_table=city_table,
    is_print=True
)

+--------------+-----------+----------+-----------------+-------------+--------+-----------+----------------+--------------+-----------+---------------+---------------+
|  product_id  |  user_id  | brand    | model           | body_type   |  year  |   price   | transmission   | colour       |  mileage  | bid_allowed   |  location_id  |
|--------------+-----------+----------+-----------------+-------------+--------+-----------+----------------+--------------+-----------+---------------+---------------|
|      1       |    71     | Toyota   | Toyota Yaris    | Hatchback   |  2016  | 175000000 | Automatic      | Jingga       |   45276   | True          |     5171      |
|      2       |     2     | Toyota   | Toyota Yaris    | Hatchback   |  2018  | 215000000 | Automatic      | Biru muda    |   84201   | False         |     3273      |
|      3       |     5     | Toyota   | Toyota Yaris    | Hatchback   |  2014  | 162000000 | Manual         | Perak        |   81001   | False         |     5171      |
|      4       |     5     | Toyota   | Toyota Yaris    | Hatchback   |  2020  | 220000000 | Automatic      | Biru muda    |   44604   | True          |     7371      |
|      5       |    32     | Toyota   | Toyota Yaris    | Hatchback   |  2012  | 124000000 | Manual         | Jingga       |   37368   | False         |     3171      |
|      6       |    69     | Toyota   | Toyota Yaris    | Hatchback   |  2019  | 114000000 | Automatic      | Perak        |   73229   | True          |     3173      |
|      7       |    22     | Toyota   | Toyota Agya     | Hatchback   |  2014  | 97000000  | Automatic      | Biru dongker |  101660   | True          |     6471      |
|      8       |    55     | Toyota   | Toyota Agya     | Hatchback   |  2016  | 110000000 | Manual         | Hijau        |  146504   | False         |     5171      |
|      9       |    27     | Toyota   | Toyota Agya     | Hatchback   |  2022  | 155500000 | Automatic      | Biru muda    |  112421   | False         |     1375      |
|      10      |    73     | Toyota   | Toyota Agya     | Hatchback   |  2017  | 115500000 | Automatic      | Merah jambu  |  183056   | False         |     1371      |
|      11      |    31     | Toyota   | Toyota Calya    | Wagon       |  2019  | 130000000 | Automatic      | Ungu tua     |   90630   | False         |     5171      |
|      12      |    93     | Toyota   | Toyota Calya    | Wagon       |  2020  | 135000000 | Automatic      | Biru muda    |   47517   | False         |     3173      |
|      13      |    79     | Toyota   | Toyota Calya    | Wagon       |  2015  | 115500000 | Manual         | Kuning       |   84737   | False         |     5171      |
|      14      |    21     | Toyota   | Toyota Calya    | Wagon       |  2016  | 104000000 | Manual         | Koral        |  117228   | False         |     3578      |
|      15      |    98     | Daihatsu | Daihatsu Ayla   | Hatchback   |  2013  | 83000000  | Automatic      | Putih        |   54832   | True          |     3175      |
|      16      |    38     | Daihatsu | Daihatsu Ayla   | Hatchback   |  2017  | 88000000  | Manual         | Merah jambu  |  172442   | True          |     3175      |
|      17      |    95     | Daihatsu | Daihatsu Ayla   | Hatchback   |  2015  | 96000000  | Automatic      | Zaitun       |   86107   | False         |     3471      |
|      18      |    28     | Daihatsu | Daihatsu Ayla   | Hatchback   |  2019  | 115000000 | Automatic      | Merah jambu  |  103930   | False         |     6472      |
|      19      |    96     | Daihatsu | Daihatsu Ayla   | Hatchback   |  2014  | 90000000  | Manual         | Biru laut    |  194731   | True          |     3175      |
|      20      |    32     | Daihatsu | Daihatsu Terios | SUV         |  2018  | 201000000 | Manual         | Perak        |   80524   | True          |     3175      |
|      21      |    20     | Daihatsu | Daihatsu Xenia  | MPV         |  2019  | 170000000 | Manual         | Coklat       |  177324   | False         |     6472      |
|      22      |    52     | Daihatsu | Daihatsu Xenia  | MPV         |  2022  | 220500000 | Manual         | Kuning       |   89645   | True          |     6471      |
|      23      |    77     | Daihatsu | Daihatsu Xenia  | MPV         |  2018  | 159000000 | Automatic      | Merah        |   63365   | False         |     3578      |
|      24      |    49     | Honda    | Honda Jazz      | Hatchback   |  2018  | 236000000 | Automatic      | Ungu tua     |   22369   | True          |     3273      |
|      25      |    18     | Honda    | Honda Jazz      | Hatchback   |  2019  | 250000000 | Manual         | Biru muda    |  190431   | False         |     1371      |
|      26      |    84     | Honda    | Honda Jazz      | Hatchback   |  2015  | 192000000 | Automatic      | Putih        |  199617   | False         |     5171      |
|      27      |     6     | Honda    | Honda Jazz      | Hatchback   |  2013  | 178000000 | Manual         | Ungu         |   17659   | False         |     3578      |
|      28      |    59     | Honda    | Honda CR-V      | SUV         |  2017  | 345000000 | Automatic      | Merah marun  |  185330   | False         |     3573      |
|      29      |    33     | Honda    | Honda CR-V      | SUV         |  2009  | 116000000 | Manual         | Coklat       |   96819   | True          |     3174      |
|      30      |    95     | Honda    | Honda CR-V      | SUV         |  2012  | 398500000 | Manual         | Merah marun  |   62494   | True          |     3273      |
|      31      |    98     | Honda    | Honda Civic     | Hatchback   |  2018  | 350000000 | Manual         | Hijau        |   94098   | True          |     3573      |
|      32      |    93     | Honda    | Honda Civic     | Sedan       |  2013  | 186000000 | Manual         | Merah        |  149236   | True          |     3578      |
|      33      |    64     | Honda    | Honda Civic     | Sedan       |  2015  | 235000000 | Manual         | Zaitun       |   77476   | False         |     3273      |
|      34      |    83     | Honda    | Honda Civic     | Hatchback   |  2019  | 397500000 | Manual         | Kuning       |   76448   | True          |     1375      |
|      35      |    41     | Suzuki   | Suzuki Ertiga   | MPV         |  2015  | 125000000 | Manual         | Abu-abu      |  134726   | True          |     3171      |
|      36      |    95     | Suzuki   | Suzuki Ertiga   | MPV         |  2016  | 168000000 | Automatic      | Merah bata   |  195267   | True          |     1371      |
|      37      |    87     | Suzuki   | Suzuki Ertiga   | MPV         |  2018  | 167000000 | Manual         | Merah marun  |   72442   | True          |     5171      |
+--------------+-----------+----------+-----------------+-------------+--------+-----------+----------------+--------------+-----------+---------------+---------------+

In [16]:
print(type(new_product_table))

<class 'dict'>

In [17]:
def generate_advertisement_table(n_data, product_table, is_print):
    """
    Fungsi untuk membuat dummy data advertisement_table
    header:
        - ad_id
        - product_id
        - title
        - description
    arg:
        - n_data (int)  : Jumlah data ads yang ingin dibuat
        - product_table (list)  : list of dictionary data product
        - is_print  (bool) : Jika True akan menampilkan hasil data
    return:
        - table  (list) :
    """
    # Daftar template title dan description
    title_templates = [
        "Dijual Cepat {model} {year} Kondisi Istimewa",
        "{model} {year} Terawat Siap Pakai",
        "Unit Langka! {model} Tahun {year} Bergaransi",
        "Promo Spesial {model} Kilometer Rendah",
        "Mobil Keluarga {model} Tangan Pertama"
    ]
    
    desc_templates = [
        "Mobil {colour} dalam kondisi sangat baik, terawat dengan dokumentasi lengkap. Siap digunakan untuk keluarga atau pribadi.",
        "Kondisi mesin prima, ban baru, interior bersih tanpa cacat. Mobil nyaman untuk perjalanan panjang.",
        "Mobil bekas pemakaian pribadi dengan perawatan rutin. Cocok untuk yang mencari kendaraan handal dan ekonomis.",
        "Kilometer rendah, service berkala di bengkel resmi. Tampilan seperti baru dengan kondisi mesin ok.",
        "Mobil keluarga yang sangat terawat, tidak pernah alami kecelakaan serius. Sangat cocok untuk kendaraan sehari-hari."
    ]

    # Buat tabel
    table = {}
    table["ad_id"] = [str(i + 1) for i in range(min(n_data, len(new_product_table['product_id'])))]
    table["product_id"] = [new_product_table['product_id'][i] for i in range(min(n_data, len(new_product_table['product_id'])))]
    table["title"] = [random.choice(title_templates).format(
        model=new_product_table['model'][i],
        year=new_product_table['year'][i]
    ) for i in range(min(n_data, len(new_product_table['product_id'])))]
    table["description"] = [random.choice(desc_templates).format(
        colour=new_product_table['colour'][i]
    ) for i in range(min(n_data, len(new_product_table['product_id'])))]
    table["date_post"] = [fake.date_between(start_date='-1y', end_date='today') for _ in range(n_data)]
    
    # Print table
    if is_print:
        show_data(table)
    
    return table

In [18]:
advertisement_table = generate_advertisement_table(
    n_data=37,
    product_table=new_product_table,
    is_print=True)

+---------+--------------+---------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------+-------------+
|  ad_id  |  product_id  | title                                             | description                                                                                                                | date_post   |
|---------+--------------+---------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------+-------------|
|    1    |      1       | Unit Langka! Toyota Yaris Tahun 2016 Bergaransi   | Mobil bekas pemakaian pribadi dengan perawatan rutin. Cocok untuk yang mencari kendaraan handal dan ekonomis.              | 2024-08-09  |
|    2    |      2       | Mobil Keluarga Toyota Yaris Tangan Pertama        | Mobil keluarga yang sangat terawat, tidak pernah alami kecelakaan serius. Sangat cocok untuk kendaraan sehari-hari.        | 2024-10-24  |
|    3    |      3       | Unit Langka! Toyota Yaris Tahun 2014 Bergaransi   | Mobil Perak dalam kondisi sangat baik, terawat dengan dokumentasi lengkap. Siap digunakan untuk keluarga atau pribadi.     | 2024-10-08  |
|    4    |      4       | Toyota Yaris 2020 Terawat Siap Pakai              | Mobil Biru muda dalam kondisi sangat baik, terawat dengan dokumentasi lengkap. Siap digunakan untuk keluarga atau pribadi. | 2024-07-02  |
|    5    |      5       | Mobil Keluarga Toyota Yaris Tangan Pertama        | Mobil Jingga dalam kondisi sangat baik, terawat dengan dokumentasi lengkap. Siap digunakan untuk keluarga atau pribadi.    | 2024-08-29  |
|    6    |      6       | Promo Spesial Toyota Yaris Kilometer Rendah       | Mobil keluarga yang sangat terawat, tidak pernah alami kecelakaan serius. Sangat cocok untuk kendaraan sehari-hari.        | 2024-05-22  |
|    7    |      7       | Mobil Keluarga Toyota Agya Tangan Pertama         | Kilometer rendah, service berkala di bengkel resmi. Tampilan seperti baru dengan kondisi mesin ok.                         | 2024-03-25  |
|    8    |      8       | Promo Spesial Toyota Agya Kilometer Rendah        | Mobil bekas pemakaian pribadi dengan perawatan rutin. Cocok untuk yang mencari kendaraan handal dan ekonomis.              | 2024-09-08  |
|    9    |      9       | Unit Langka! Toyota Agya Tahun 2022 Bergaransi    | Kondisi mesin prima, ban baru, interior bersih tanpa cacat. Mobil nyaman untuk perjalanan panjang.                         | 2023-11-30  |
|   10    |      10      | Mobil Keluarga Toyota Agya Tangan Pertama         | Mobil bekas pemakaian pribadi dengan perawatan rutin. Cocok untuk yang mencari kendaraan handal dan ekonomis.              | 2024-04-17  |
|   11    |      11      | Mobil Keluarga Toyota Calya Tangan Pertama        | Kilometer rendah, service berkala di bengkel resmi. Tampilan seperti baru dengan kondisi mesin ok.                         | 2024-01-21  |
|   12    |      12      | Unit Langka! Toyota Calya Tahun 2020 Bergaransi   | Kilometer rendah, service berkala di bengkel resmi. Tampilan seperti baru dengan kondisi mesin ok.                         | 2024-05-02  |
|   13    |      13      | Toyota Calya 2015 Terawat Siap Pakai              | Mobil keluarga yang sangat terawat, tidak pernah alami kecelakaan serius. Sangat cocok untuk kendaraan sehari-hari.        | 2024-01-02  |
|   14    |      14      | Mobil Keluarga Toyota Calya Tangan Pertama        | Mobil keluarga yang sangat terawat, tidak pernah alami kecelakaan serius. Sangat cocok untuk kendaraan sehari-hari.        | 2023-12-16  |
|   15    |      15      | Unit Langka! Daihatsu Ayla Tahun 2013 Bergaransi  | Kilometer rendah, service berkala di bengkel resmi. Tampilan seperti baru dengan kondisi mesin ok.                         | 2024-04-15  |
|   16    |      16      | Daihatsu Ayla 2017 Terawat Siap Pakai             | Kondisi mesin prima, ban baru, interior bersih tanpa cacat. Mobil nyaman untuk perjalanan panjang.                         | 2024-02-27  |
|   17    |      17      | Unit Langka! Daihatsu Ayla Tahun 2015 Bergaransi  | Mobil Zaitun dalam kondisi sangat baik, terawat dengan dokumentasi lengkap. Siap digunakan untuk keluarga atau pribadi.    | 2024-05-10  |
|   18    |      18      | Daihatsu Ayla 2019 Terawat Siap Pakai             | Mobil bekas pemakaian pribadi dengan perawatan rutin. Cocok untuk yang mencari kendaraan handal dan ekonomis.              | 2024-07-11  |
|   19    |      19      | Promo Spesial Daihatsu Ayla Kilometer Rendah      | Kilometer rendah, service berkala di bengkel resmi. Tampilan seperti baru dengan kondisi mesin ok.                         | 2024-05-10  |
|   20    |      20      | Promo Spesial Daihatsu Terios Kilometer Rendah    | Mobil keluarga yang sangat terawat, tidak pernah alami kecelakaan serius. Sangat cocok untuk kendaraan sehari-hari.        | 2024-09-10  |
|   21    |      21      | Mobil Keluarga Daihatsu Xenia Tangan Pertama      | Kondisi mesin prima, ban baru, interior bersih tanpa cacat. Mobil nyaman untuk perjalanan panjang.                         | 2024-05-04  |
|   22    |      22      | Unit Langka! Daihatsu Xenia Tahun 2022 Bergaransi | Mobil bekas pemakaian pribadi dengan perawatan rutin. Cocok untuk yang mencari kendaraan handal dan ekonomis.              | 2024-05-17  |
|   23    |      23      | Daihatsu Xenia 2018 Terawat Siap Pakai            | Mobil keluarga yang sangat terawat, tidak pernah alami kecelakaan serius. Sangat cocok untuk kendaraan sehari-hari.        | 2024-06-19  |
|   24    |      24      | Promo Spesial Honda Jazz Kilometer Rendah         | Mobil Ungu tua dalam kondisi sangat baik, terawat dengan dokumentasi lengkap. Siap digunakan untuk keluarga atau pribadi.  | 2024-07-16  |
|   25    |      25      | Promo Spesial Honda Jazz Kilometer Rendah         | Kilometer rendah, service berkala di bengkel resmi. Tampilan seperti baru dengan kondisi mesin ok.                         | 2024-04-16  |
|   26    |      26      | Honda Jazz 2015 Terawat Siap Pakai                | Mobil keluarga yang sangat terawat, tidak pernah alami kecelakaan serius. Sangat cocok untuk kendaraan sehari-hari.        | 2024-04-20  |
|   27    |      27      | Dijual Cepat Honda Jazz 2013 Kondisi Istimewa     | Mobil Ungu dalam kondisi sangat baik, terawat dengan dokumentasi lengkap. Siap digunakan untuk keluarga atau pribadi.      | 2023-11-22  |
|   28    |      28      | Honda CR-V 2017 Terawat Siap Pakai                | Kilometer rendah, service berkala di bengkel resmi. Tampilan seperti baru dengan kondisi mesin ok.                         | 2024-11-02  |
|   29    |      29      | Honda CR-V 2009 Terawat Siap Pakai                | Kilometer rendah, service berkala di bengkel resmi. Tampilan seperti baru dengan kondisi mesin ok.                         | 2024-03-27  |
|   30    |      30      | Promo Spesial Honda CR-V Kilometer Rendah         | Kondisi mesin prima, ban baru, interior bersih tanpa cacat. Mobil nyaman untuk perjalanan panjang.                         | 2024-04-18  |
|   31    |      31      | Honda Civic 2018 Terawat Siap Pakai               | Kondisi mesin prima, ban baru, interior bersih tanpa cacat. Mobil nyaman untuk perjalanan panjang.                         | 2024-02-23  |
|   32    |      32      | Dijual Cepat Honda Civic 2013 Kondisi Istimewa    | Mobil keluarga yang sangat terawat, tidak pernah alami kecelakaan serius. Sangat cocok untuk kendaraan sehari-hari.        | 2024-05-13  |
|   33    |      33      | Mobil Keluarga Honda Civic Tangan Pertama         | Kilometer rendah, service berkala di bengkel resmi. Tampilan seperti baru dengan kondisi mesin ok.                         | 2024-05-09  |
|   34    |      34      | Honda Civic 2019 Terawat Siap Pakai               | Mobil keluarga yang sangat terawat, tidak pernah alami kecelakaan serius. Sangat cocok untuk kendaraan sehari-hari.        | 2024-11-01  |
|   35    |      35      | Promo Spesial Suzuki Ertiga Kilometer Rendah      | Kondisi mesin prima, ban baru, interior bersih tanpa cacat. Mobil nyaman untuk perjalanan panjang.                         | 2024-09-12  |
|   36    |      36      | Suzuki Ertiga 2016 Terawat Siap Pakai             | Kilometer rendah, service berkala di bengkel resmi. Tampilan seperti baru dengan kondisi mesin ok.                         | 2024-02-06  |
|   37    |      37      | Mobil Keluarga Suzuki Ertiga Tangan Pertama       | Mobil bekas pemakaian pribadi dengan perawatan rutin. Cocok untuk yang mencari kendaraan handal dan ekonomis.              | 2023-12-27  |
+---------+--------------+---------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------+-------------+

In [19]:
def generate_bid_table(n_data, product_table, user_table, is_print):
    """
    Fungsi untuk membuat dummy data bid_table
    header:
        - bid_id
        - product_id
        - user_id
        - bid_amount
        - bid_date
    arg:
        - n_data (int)  : Jumlah data user yang ingin dibuat
        - product_table (dict)  : list of dict data product
        - user_table (dict) : list of dict data user
        - is_print  (bool) : Jika True akan menampilkan hasil data
    return:
        - table  (dict) : Dictionary berisi list data bid
    """
 
    # Buat table
    table = {}
    table["bid_id"] = [i + 1 for i in range(n_data)]  # ID unik untuk bid
    
    # Pastikan memilih indeks acak dari panjang kolom "product_id"
    random_indices = [random.randint(0, len(product_table["product_id"]) - 1) for _ in range(n_data)]
    
    table["product_id"] = [product_table["product_id"][i] for i in random_indices]
    table["user_id"] = [random.choice(user_table["user_id"]) for _ in range(n_data)]  # User ID secara acak

    # Menambahkan kolom bid_amount
    table["bid_amount"] = [
        random.randint(
            int(product_table["price"][i] * 0.9), 
            int(product_table["price"][i] * 1.1)
        ) for i in random_indices
    ]  # Harga bid sekitar 90%-110% harga produk

    # Menambahkan kolom bid_date
    table["bid_date"] = [fake.date_between(start_date='-1y', end_date='today') for _ in range(n_data)]  # Tanggal bid acak dalam 90 hari terakhir

    # Menambahkan kolom bid_status
    table["bid_status"] = [random.choice(['Sent']) for _ in range(n_data)]

    # Print table
    if is_print:
        show_data(table)
    
    return table

In [20]:
bid_table = generate_bid_table(
    n_data=100,
    product_table=new_product_table,
    user_table=user_table,
    is_print=True)

+----------+--------------+-----------+--------------+------------+--------------+
|  bid_id  |  product_id  |  user_id  |  bid_amount  | bid_date   | bid_status   |
|----------+--------------+-----------+--------------+------------+--------------|
|    1     |      11      |    32     |  141056081   | 2024-05-10 | Sent         |
|    2     |      4       |    22     |  210393502   | 2024-05-07 | Sent         |
|    3     |      28      |    100    |  336791180   | 2024-02-19 | Sent         |
|    4     |      34      |    73     |  383948791   | 2023-11-24 | Sent         |
|    5     |      37      |    35     |  183083131   | 2024-10-05 | Sent         |
|    6     |      8       |     4     |  115956856   | 2024-02-26 | Sent         |
|    7     |      35      |    32     |  129666042   | 2024-11-10 | Sent         |
|    8     |      5       |     1     |  122333879   | 2023-12-24 | Sent         |
|    9     |      29      |     5     |  119266011   | 2024-01-16 | Sent         |
|    10    |      11      |    75     |  138805043   | 2024-08-25 | Sent         |
|    11    |      21      |     8     |  156479061   | 2024-11-10 | Sent         |
|    12    |      3       |    35     |  165868696   | 2024-01-14 | Sent         |
|    13    |      26      |     8     |  197799765   | 2023-12-12 | Sent         |
|    14    |      21      |    41     |  177073261   | 2024-03-27 | Sent         |
|    15    |      33      |     8     |  241533307   | 2023-12-09 | Sent         |
|    16    |      12      |    91     |  146992215   | 2024-03-02 | Sent         |
|    17    |      26      |    43     |  175058920   | 2024-02-10 | Sent         |
|    18    |      27      |    54     |  186903599   | 2024-05-03 | Sent         |
|    19    |      16      |     8     |   95545263   | 2024-07-27 | Sent         |
|    20    |      15      |    31     |   88386782   | 2024-04-18 | Sent         |
|    21    |      16      |     3     |   83444926   | 2024-08-08 | Sent         |
|    22    |      32      |    38     |  193045336   | 2023-11-25 | Sent         |
|    23    |      29      |    83     |  108787562   | 2024-05-22 | Sent         |
|    24    |      29      |    100    |  125822659   | 2024-08-13 | Sent         |
|    25    |      17      |    75     |  103876243   | 2023-11-27 | Sent         |
|    26    |      36      |    58     |  165603793   | 2024-10-19 | Sent         |
|    27    |      25      |    50     |  228697356   | 2024-01-17 | Sent         |
|    28    |      30      |    67     |  405922361   | 2024-09-26 | Sent         |
|    29    |      28      |     7     |  356521907   | 2024-05-19 | Sent         |
|    30    |      27      |    19     |  195330835   | 2024-09-24 | Sent         |
|    31    |      11      |    84     |  120891460   | 2023-11-24 | Sent         |
|    32    |      23      |    57     |  165121421   | 2024-10-15 | Sent         |
|    33    |      36      |    84     |  162097399   | 2024-10-12 | Sent         |
|    34    |      35      |    99     |  134027050   | 2024-02-12 | Sent         |
|    35    |      23      |    40     |  152260503   | 2024-07-02 | Sent         |
|    36    |      19      |    44     |   92892418   | 2024-11-12 | Sent         |
|    37    |      24      |    12     |  219247516   | 2023-12-13 | Sent         |
|    38    |      22      |    34     |  200938547   | 2024-06-10 | Sent         |
|    39    |      18      |    24     |  104548296   | 2024-04-21 | Sent         |
|    40    |      11      |     9     |  118861445   | 2024-05-31 | Sent         |
|    41    |      20      |    62     |  220159143   | 2024-05-20 | Sent         |
|    42    |      26      |    21     |  189551280   | 2023-12-08 | Sent         |
|    43    |      14      |    66     |   95617854   | 2024-06-03 | Sent         |
|    44    |      23      |    81     |  148408812   | 2024-02-07 | Sent         |
|    45    |      25      |    78     |  274489029   | 2024-05-30 | Sent         |
|    46    |      31      |    23     |  360193871   | 2024-11-12 | Sent         |
|    47    |      37      |    59     |  151008522   | 2023-12-15 | Sent         |
|    48    |      17      |    49     |   94356349   | 2024-09-23 | Sent         |
|    49    |      13      |    64     |  117806512   | 2023-12-18 | Sent         |
|    50    |      25      |    32     |  227606348   | 2024-06-17 | Sent         |
|    51    |      6       |    85     |  106777709   | 2024-02-13 | Sent         |
|    52    |      1       |    23     |  173715508   | 2024-03-11 | Sent         |
|    53    |      25      |    30     |  247597639   | 2024-06-17 | Sent         |
|    54    |      1       |    12     |  185718494   | 2024-04-11 | Sent         |
|    55    |      10      |    95     |  121077209   | 2024-01-28 | Sent         |
|    56    |      28      |    70     |  376294143   | 2024-09-10 | Sent         |
|    57    |      30      |    59     |  378586886   | 2024-09-29 | Sent         |
|    58    |      18      |    43     |  106088690   | 2024-04-04 | Sent         |
|    59    |      25      |    27     |  274516098   | 2024-10-02 | Sent         |
|    60    |      32      |    29     |  191559947   | 2024-11-10 | Sent         |
|    61    |      31      |    67     |  349130731   | 2024-09-27 | Sent         |
|    62    |      2       |    15     |  226125192   | 2023-12-15 | Sent         |
|    63    |      4       |    11     |  237017650   | 2024-05-19 | Sent         |
|    64    |      17      |    76     |   99943025   | 2023-12-09 | Sent         |
|    65    |      19      |    75     |   87029370   | 2024-03-13 | Sent         |
|    66    |      13      |    87     |  105113963   | 2024-03-20 | Sent         |
|    67    |      15      |    74     |   90977283   | 2024-03-27 | Sent         |
|    68    |      18      |    28     |  123286302   | 2024-06-18 | Sent         |
|    69    |      32      |    90     |  202944690   | 2024-07-13 | Sent         |
|    70    |      33      |    85     |  252455809   | 2024-04-17 | Sent         |
|    71    |      13      |    53     |  124972731   | 2024-11-05 | Sent         |
|    72    |      20      |    58     |  206968483   | 2024-03-01 | Sent         |
|    73    |      16      |    94     |   93017857   | 2024-04-04 | Sent         |
|    74    |      15      |    98     |   83643352   | 2024-04-15 | Sent         |
|    75    |      6       |    37     |  111992775   | 2024-09-16 | Sent         |
|    76    |      20      |    39     |  202140747   | 2024-01-23 | Sent         |
|    77    |      21      |    53     |  157902328   | 2024-04-01 | Sent         |
|    78    |      2       |    52     |  201762184   | 2024-04-27 | Sent         |
|    79    |      1       |    73     |  181831141   | 2024-11-19 | Sent         |
|    80    |      5       |    37     |  117137656   | 2024-05-18 | Sent         |
|    81    |      11      |    50     |  135872690   | 2024-04-26 | Sent         |
|    82    |      24      |    48     |  247919678   | 2024-05-19 | Sent         |
|    83    |      37      |    33     |  175926296   | 2024-11-06 | Sent         |
|    84    |      11      |    14     |  138011764   | 2024-03-03 | Sent         |
|    85    |      22      |    89     |  210149888   | 2024-01-14 | Sent         |
|    86    |      10      |    92     |  126216752   | 2023-12-14 | Sent         |
|    87    |      2       |    62     |  229350472   | 2024-09-18 | Sent         |
|    88    |      31      |    61     |  340386586   | 2023-12-28 | Sent         |
|    89    |      21      |    56     |  160408675   | 2024-09-01 | Sent         |
|    90    |      28      |    62     |  333924864   | 2024-04-27 | Sent         |
|    91    |      19      |     7     |   96178423   | 2024-04-27 | Sent         |
|    92    |      24      |    93     |  215749961   | 2024-11-14 | Sent         |
|    93    |      37      |    32     |  159631483   | 2024-04-25 | Sent         |
|    94    |      32      |    52     |  175226352   | 2024-10-11 | Sent         |
|    95    |      21      |    92     |  184043656   | 2024-04-04 | Sent         |
|    96    |      34      |    51     |  380655717   | 2024-01-16 | Sent         |
|    97    |      32      |     1     |  189439108   | 2024-01-14 | Sent         |
|    98    |      21      |    68     |  184939238   | 2024-06-29 | Sent         |
|    99    |      14      |    81     |   96193238   | 2024-01-16 | Sent         |
|   100    |      29      |    62     |  112175669   | 2024-02-02 | Sent         |
+----------+--------------+-----------+--------------+------------+--------------+

In [21]:
import csv

def save_to_csv(data, nama_file):
    '''
    Fungsi untuk menyimpan data ke csv dengan dua tipe input berbeda
    
    Args:
        - data (list of dict): list berisi dictionary data yang akan dijadikan csv
        - data (dict of list): dictionary berisi list data yang akan dijadikan csv
        - nama_file (str): nama untuk file csv
    
    Returns:
        - None
    '''
    # Cek tipe data input
    if isinstance(data, list):
        # Jika input adalah list of dictionary
        if not data:
            raise ValueError("Data list kosong")
        
        # Ambil header dari kunci pertama dictionary
        headers = list(data[0].keys())
        
        # Buka file csv
        with open(f"{nama_file}.csv", mode='w', newline='', encoding='utf-8') as csv_file:
            # Buat writer csv
            writer = csv.DictWriter(csv_file, fieldnames=headers)
            
            # Tulis header
            writer.writeheader()
            
            # Tulis setiap baris data
            writer.writerows(data)
    
    elif isinstance(data, dict):
        # Jika input adalah dictionary of list
        if not data:
            raise ValueError("Data dictionary kosong")
        
        # Pastikan semua list memiliki panjang yang sama
        if len(set(len(value) for value in data.values())) > 1:
            raise ValueError("Semua list dalam dictionary harus memiliki panjang yang sama")
        
        # Buka file csv
        with open(f"{nama_file}.csv", mode='w', newline='', encoding='utf-8') as csv_file:
            # Buat writer csv
            writer = csv.writer(csv_file)
            
            # Tulis header
            writer.writerow(list(data.keys()))
            
            # Mengetahui panjang data
            len_data = len(list(data.values())[0])
            
            # Tulis data
            for i in range(len_data):
                row = [data[key][i] for key in data.keys()]
                writer.writerow(row)
    
    else:
        raise TypeError("Input harus berupa list of dictionary atau dictionary of list")

In [22]:
# menyimpan data user_table dalam bentuk csv
save_to_csv(data = user_table,
            nama_file = 'user_table')

In [23]:
# menyimpan data product_table dalam bentuk csv
save_to_csv(data = new_product_table,
            nama_file = 'product_table')

In [24]:
# menyimpan data advertisement_table dalam bentuk csv
save_to_csv(data = advertisement_table,
            nama_file = 'advertisement_table')

In [25]:
# menyimpan data bid_table dalam bentuk csv
save_to_csv(data = bid_table,
            nama_file = 'bid_table_new')